server:
   port: 8090

logging:
   level:
      org:
         hibernate:
            SQL: DEBUG
            type:
               descriptor:
                  sql:
                     BasicBinder: TRACE 

spring:
   application:
      name: airport-service
   datasource:
      url: jdbc:mysql://smoothstack-project.cqxybfmjssty.us-east-2.rds.amazonaws.com:3306/utopia
      username: ${SPRING_DB_UNAME}
      password: ${SPRING_DB_PASS}
      hikari:
         maximum-pool-size: 3
   jpa:
      properties:
         hibernate:
            format-sql: true
      hibernate:
         naming:
            physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      open-in-view: true
      database-platform: org.hibernate.dialect.MySQL5Dialect
